@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (ViewContext.ViewBag.Title != "Signup")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @*<p>
        <img src="~/Image/images.jpg" width="1143" height="525" />
    </p>*@

}